/* loading */
.loading{
  position: fixed;
  right: 50px;
  bottom: 20px;
}

/* Div */
.DataDiv{
  padding: 20px;
  margin: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid var(--gray-color);
  background-color: #fff;
}

/* default-detail */
.DataDiv input:not([type="radio"]){
  width: 100%;
}
.DataDiv pre{
  margin-left: 50px;
  text-align: left;
}
.mainDiv pre, .productTitleDiv pre{
  margin-left: 20px;
}
.DataDiv.update >div{
  width: 30%;
  margin: 20px 0;
}
.miniImg{
  width: 30px;
  height: 30px;
  border: 1px solid var(--gray-color);
}
.DataDiv select{
  width: 100%;
  text-align: center;
}
.DataDiv span{
  display: inline-block;
  width: 10px;
}

