.mpList{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mpList_box{
  border: 1px solid var(--light-gray-color);
  width: 30%;
  height: 160px;
  margin: 30px 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  line-height: 50px;
}
.mpList_box:hover{
  background-color: #eee;
}
