.sliderDiv{
  width: 100%;
  /* overflow: hidden; */
}
.sliderImg{
  height: 20vw;
  background-color: olive;
}
.miniSliderImg .miniImg{
  margin: 0 20px;
  height: 647px;
  width: auto;
  background-color: orange;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.slick-slide img{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.info{
  padding: 20px 30px;
}
p.name{
  color: #878787;
}


