.sliderDiv{
  width: 100%;
  /* overflow: hidden; */
}
.sliderImg{
  height: 20vw;
  background-color: olive;
}
.miniSliderImg .miniImg{
  margin: 0 20px;
  height: 647px;
  width: auto;
  background-color: orange;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.slick-slide img{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.info{
  padding: 20px 30px;
}
p.name{
  color: #878787;
}


.sliderinner{
  margin-bottom: 100px;
  position: relative;
}
.slick-dots.slick-thumb {
  position: absolute;
  bottom: -130px;
  left: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%);
}

.slick-prev:before,.slick-next:before,button::before{
  display: none;
}
.slick-slider .slick-slide img{
  position: relative;
  transform: none;
  left: 0;
  background-size: cover;
  width: auto;
  height: 100%;
}
.slick-slider .slick-slide .miniImg > img{
  transform: translateX(-25%);
}
.slick-dots li{
  width: auto;
  height: auto;
}
.slick-dots li button{
  filter: grayscale(100%);
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.slick-dots li button > img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.slick-dots li.slick-active button{
  filter: grayscale(0);
}
.slick-list{
  height: auto;
}