:root{
  --main-color:black;
  --hover-color:blue;
  --gray-color:#9c9c9c;
  --light-gray-color:#E2E2E2;
}
/* default 설정 */
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}

input{
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
input[type="radio"]{
  margin-top: 10px;
  width: 17px;
  height: 17px;
  min-width: 0;
}
select{
  border: none;
  outline: none;
}
label{
  padding: 0 10px;
}

table{
  border-collapse: collapse;
	margin: 10px;
}


/* custom 설정 */
  /* div */
.main{
  margin-top: 150px!important;
}
.inner{
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.commentbox{
  margin: 20px 5px;
}
.commentbox .subtitle{
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 10px 0;
}
.commentbox .mini{
  color: var(--gray-color);
  font-size: 12px;
  padding: 8px;
}

/* ul */
.openUl{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.openUl li{
  margin-left: 20px;
}

  /* btn */
button.default{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  margin: 10px;
}
button.check{
  width: 100px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
button.white{
  background-color: var(--light-gray-color);
  color: black;
}


  /* text */
h4{
  padding: 15px 0;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}  
.title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
pre{
	font-size: 13px;
	line-height: 160%;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: var(--gray-color);
}
.center{
  text-align: center;
}
.size30{
  font-size: 30px;
  margin: 30px 0;
}